.container_div{
    height: 300vh;
}

.world_div{
    z-index: 2;
    border-radius: 50%;
    transition: box-shadow 1s;
    position: fixed;
}

.circle_modes_div{
    border-radius: 50%;
    transition: box-shadow 1s;
    z-index: 3;
}

.slide_on_car {
    visibility: hidden;
    transform: translateX(105%);
    transition: transform 0.5s ease-in-out;
    z-index: 2;
}

.slide_on_intelligence {
    visibility: hidden;
    transform: translateX(-105%);
    transition: transform 0.5s ease-in-out;
    z-index: 2;
}

.intelligence_img{
    transition: box-shadow 1s;
}

.parallax {
    position: relative;
    z-index: 0;
    min-height: 100vh;
    display: grid;
    grid-template-areas: "stack";
}

.hero {
    z-index: 10;
}

.parallax__bg {
    --parallax-speed: -10;
    width: 100%;

    z-index: 1;
    object-fit: cover;
}


body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
    width: min(65rem, 100% - 4rem);
    margin-inline: auto;
    text-transform: uppercase;
    color: white;
}

.button {
    font: inherit;
    font-style: italic;
    text-transform: uppercase;
    background: rgb(187, 40, 220);
    padding: 1em 2em;
    border: 0;
    border-radius: 0.2em;
    margin: 2rem 0rem;
}

.play_button{
    font: inherit;
    font-style: italic;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.16);
    padding: 1em 2em;
    border-radius: 0.4em;
    margin: 2rem 0rem;
}

.modes_button{
    font: inherit;
    font-style: italic;
    background: rgba(255, 255, 255, 0.16);
    padding: 2%;
}

.hero {
    margin-block-start: max(40vh, 8rem);
}

.mode_title {
    font-size: 4rem;
    max-width: 20ch;
    line-height: 1;
    font-style: italic;
    font-weight: 900;
    position: relative;
}

.mode_title span{
    font-size: 2rem;
    display: block;
}

.special_span{
    font-size: 3rem;
    display: block;
    font-style: normal;
}