
.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
}

.mapContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:-1;

    filter: invert(1);
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      display: none;
    }
    100% {
      opacity: 100%;
    }
  }
  
  .animate-fade-in {
    animation: fadeIn 1s ease-in-out; /* Adjust the duration as needed */
  }

  .bg-transparent-black {
    background-color: rgba(0, 0, 0, 0.5);
  }


  @keyframes red-flicker {
    0% {
      background-color: rgba(255, 255, 255, 0.5) !important;
    }
    50% {
      background-color: rgba(204, 17, 17, 0.5) !important;
    }
    100% {
      background-color: rgba(255, 255, 255, 0.5) !important;
    }
  }
  
  .red-bg {
    background-color: rgba(204, 17, 17, 0.5) !important;
  }
  .animate-red-flicker {
    animation: red-flicker !important; 
    /* animation: flicker 1s ease-in-out;  */
  }

/* @keyframes fadeOut {
    0% {
      opacity: 50%;
    }
    100% {
      opacity: 0%;
      display: none;
    }
  }
  
  .animate-fade-out {
    animation: fadeOut 1s ease-in-out;
  } */
  
 
   /* .hole::before {
    content: "";
    display: block;

    width: 200px;
    height: 200px;

    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: rgba(253, 253, 253, 0.889);
    
    transform: translate(-50%, -50%);

}
.box.blur::before {
    filter: blur(20px);
}  */